# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: PPSN 2024
title_tail: " - PPSN 2024"
email: michael.affenzeller@fh-ooe.at
description: >- # this means to ignore newlines until "baseurl:"
  Website of the 18th International Conference on Parallel Problem Solving from Nature (PPSN XVIII)
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://ppsn2024.fh-ooe.at" # the base hostname & protocol for your site, e.g. http://example.com
lang: en
author: PPSN 2024
keywords: Scientific Conference
twitter_username: ppsn2024
github_username:  ppsn2024

# SEO
google_analytics: true

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate

environment: production # production / development
regenerate: false

show_drafts: false
future: false

blogname: "news"
permalink: news/:year/:month/:day/:title/
paginate: 20
paginate_path: "news/page:num/"


collections:
  category:
    output: true
    permalink: /news/:name/

defaults:
  -
    scope:
      path: ""
      type: "category"
    values:
      layout: "category"
  -
    scope:
      path: "assets/img"
    values:
      image: true

excerpt_separator: <!--more-->

# Server Config options
livereload: false
reload_port: 5678

sass:
    style: compressed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
