footer#main-footer{
   background:$base-darkgrey-bg;
   text-align:center;
   padding:2rem 0;

   .row {
      color:$base-font-color-dark-bg;
      font-size:0.9rem;
      padding:1.5rem 0;

      .socials {
         font-size:1.5rem;
         > a {
         padding: 0 1.5rem;
         }
      }
   }

   .row a{
      color:$base-font-color-dark-bg;
      text-decoration: none;
      transition: 0.6s;
   }

   .row a:hover {
      color:#fff;
      text-decoration:underline;
   }
}