
nav#main-nav {   
   background-color: transparent !important;
   height:90px !important;
   

   a.nav-link {
      font-family: $base-font-family;
      font-weight: 500;
      color:#fff;
      padding: 1rem 0px;
      margin: 0px 1rem;
      opacity: 0.85;
      position: relative;
   }

   .nav-link:hover{
      opacity: 1;
   }

   .nav-link::before {
      transition: 200ms;
      height: 5px;
      content: "";
      position: absolute;
      background-color: #fff;
      width: 0%;
      bottom: 10px;
    }

    .nav-link:hover::before {
      width: 100%;
    }

    .navbar-brand{
      height:100%;
      width:100%;
      padding: 10px;
      // padding:10px 0 0 10px;
      display: block;;
    }

    .brand-container {
      float:left;
      margin: 0;
      padding: 0;
    }

    .pull-right {
      float:right !important;
    }

    #ppsn2024-logo{
      position: relative;
      // bottom: 5px;
      // left: 15px;      
      display:inline-block;
      height:60px;
    }

    .nav-home #ppsn2024-logo g,
    .nav-home #ppsn2024-logo polygon,
    .nav-home #ppsn2024-logo path {
      fill: $brand-text-light;    
    }

    .nav-page #ppsn2024-logo g,
    .nav-page #ppsn2024-logo polygon,
    .nav-page #ppsn2024-logo path {
      fill: $brand-primary;      
    }
}

nav#main-nav.navbar-top.scrolled {
   background-color: #fff !important;
   transition: background-color 200ms linear;

   .nav-link {
      color:$brand-primary !important;
   }

   .nav-link::before {
      background-color: $brand-primary !important;
    }

    #ppsn2024-logo g, #ppsn2024-logo polygon, #ppsn2024-logo path {
      fill: $brand-primary !important; 
    }
 }

 

