.brand-primary {
    background-color: $brand-primary;
    color: $brand-dark-grey;

    a {
        color: $brand-dark-grey;
    }
}

.fullscreen-section {
    padding-top:120px;
    padding-bottom:40px;
    min-height: 60vh;
}

.fullscreen-section-no-header {
    padding-top:40px;
    padding-bottom:40px;
    min-height: 60vh;
}

.fullscreen-container {
    padding: 0 50px 0 50px;
}

h4#detailsDay{
    font-weight:700;
    margin-bottom:0;
}