:root {
  --paper-width: 15.5vw;
  --paper-height: 150px;
  --arrow-width: 50px;
  --slider-py: 25px;
}

@media only screen and (max-width: 1000px) {
  :root {
    --paper-width: 25vw;
    --item-width: 25vw;
  }
}

.subpage-sec {
   padding-top:120px;
   padding-bottom:40px;
   min-height: 60vh;

   h2 {
      font-size: 2rem;
      font-weight:500;
    }

    h3 {
      font-size: 1.8rem;
      font-weight:400;
    }

    h4 {
      font-size: 1.6rem;
      font-weight:300;
    }

    a {
      text-decoration: none;
      color:$brand-primary;
    }

    a:hover {
      text-decoration: underline;
    }
 }

 .imprint-infolist li {
   line-height: 1.7em;
}

 .imprint-infolist{
   list-style: none;
   padding:0;
   margin:0;
 }

 .nav-link {
  color:$brand-primary !important;
}

.nav-link::before {
  background-color: $brand-primary !important;
}

section.subpage-venue, section.subpage-calls {
  article:not(:first-child) {
    padding-top:25px;
  }

  article h1 {

    font-size:700;
    color: $brand-primary;

  }

  article p {
    text-align: justify;
  }

  article p.chairs, p.highlight {
    font-weight:500;
    font-style: italic;
    color:$brand-primary;
  }

  article:nth-child(odd) h2 {
    font-size:2.2rem;
    font-weight:500;
  }

  article:nth-child(even) h2 {
    font-size:2.5rem;
    font-weight:500;
  }

  .image-item {
    overflow: hidden;
    max-height:300px;
  }

  .contact-maps {
    min-height:350px;
    margin-top:20px;
  }

  .venue-list li, .call-list li {
    line-height: 1.7em;
 }

  .venue-list, .call-list{
    list-style: none;
    padding:0;
    margin:0;
  }

  .venue-list li > span, .call-list li > span {
    color:$brand-primary;
  }



  .call-list li > ul {
    padding-left:35px;
  }

  ul.dashed {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

ul.dashed > li:not(:first-child) {
  padding-top:10px;
}

ul.dashed > li:before {
    display: inline-block;
    color:$brand-primary;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

.download-link {
  font-size:1.2rem;
  font-weight:500;
}
}


//roomplan
#roomplan {
    padding-bottom:0;
  .planerContainer {
    position: relative;
    background: #ddd;
  }

  .session-information {
    background:$brand-secondary;
    min-height:100px;
  }
/*
  *
  * THE Session CONTAINER
  *
  *********************************/
  .session-info{
    width:100%;
    height:80px;
    background:$brand-primary;
  }

  /*
  *
  * THE SLIDER CONTAINER
  *
  *********************************/
  .slider {
    width: 100%;
    height:$paper-height + $slider-py + $slider-py;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    position: relative;
    padding-top: $slider-py;
    padding-bottom: $slider-py;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
  }

  .slider::-webkit-scrollbar {
    display:none;
  }

  /*
  *
  * PAPER ITEM
  *
  *********************************/
  .paper {
    min-width:200px;
    width: $paper-width;
    height: $paper-height;
    display: inline-block;
    position: relative;
    color: white;
    background: #7EA254;
    border:3px solid #999;
    white-space: normal;
    padding: 0 2px;
    font-size: 0.8rem;
    margin: 0 5px;
  }

  .paper:hover {
    cursor: pointer;
    filter:brightness(115%);
    border:3px solid #666;
    transition: all 200ms linear;
  }

  .paper.active {
    filter:brightness(115%);
    border:3px solid #666;
  }

  .paper:nth-of-type(1) {
    margin-left: $arrow-width;
  }

  .paper .content {
    padding:8px;
    position: absolute;

    h4 {
      font-size: 1.1rem;
      margin-bottom:5px;
    }

    p {
      text-justify: none;
      text-align: left;
      font-size:0.9rem;
      color: #000;
      line-height:1.2;
    }
  }

  .description {
    position: absolute;
    display: none;
    z-index: 9999;
    background-color: #272727;
    width: $paper-width;
    margin-top: -10px;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @media only screen and (min-width: 900px) {
    .paper:hover {
      /*transform: scale(1.2);*/
    }

    .paper:hover > .description {
      display: block;
    }
  }
  /*
  *
  * BUTTONS
  *
  *********************************/
  .btn-nav {
    width: $arrow-width;
    height: 100%;
    border-radius: 0px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    color: white;
    top: slider-py;
    z-index: 5;
    visibility: hidden;
  }

  #moveLeft {
    left: 0;
  }

  #moveRight {
    right: 0;
  }

  @media only screen and (max-width: 900px) {
    .btn-nav {
      display: none;
    }
  }

  @media only screen and (min-width: 901px) {
    .planerContainer:hover .btn-nav {
      visibility: visible;
    }
  }



  /*
  *INFO TEXT
  */
  .green-bg {
    background:#7EA254;
  }

  .paperInfo {
    background:#7EA254;
    color:#fff;
    width:100%;
    min-height:300px;
    padding:10px 10px;
    //max-height:600px;
    p.paperAuthors {
      font-style: italic;
    }

    p.paperAbstract {
      color:#000;
    }

    #paperTitle {
      text-align: left;
      text-justify: none;
    }
  }

  /*
  *SVG PLAN
  */
  .svgPlan {
    min-height:500px;
    width:100%;
    display: block;
    margin: auto;
    text-align: center;

    .active{
      fill:$brand-primary;
      stroke-width:6;
      stroke:$brand-grey;
    }

    svg {
      position: relative;
      height:500px;
    }
  }
  @media (orientation: portrait) {
    .col-lg-6 {
        width: 100%;
    }
  }


}