<section class="background-primary pad" id="contact">
   <div class="container text-justify">
      <h2>Contact</h2>
      <div class="row contact-info">
         <div class="col-lg-4 col-md-12">
            <h4>FH-Prof. PD DI Dr. Michael Affenzeller</h4>
            <table class="contact-table">
               <body>
                  <tr>
                     <td>Position:</td>
                     <td>Organizer</td>
                  </tr>
                  <tr>
                     <td>Phone:</td>
                     <td>+43 50804 22031</td>
                  </tr>
                  <tr>
                     <td>Mail:</td>
                     <td><a href="mailto:michael.affenzeller@fh-hagenberg.at
                        ">michael.affenzeller@fh-hagenberg.at
                     </a></td>
                  </tr>
               </body>
            </table>
         </div>
         <div class="col-lg-4 col-md-12">
            <h4>FH-Prof. PD DI Dr. Stephan Winkler</h4>
            <table class="contact-table">
               <body>
                  <tr>
                     <td>Position:</td>
                     <td>Organizer</td>
                  </tr>
                  <tr>
                     <td>Phone:</td>
                     <td>+43 50804 22720</td>
                  </tr>
                  <tr>
                     <td>Mail:</td>
                     <td><a href="mailto:stephan.winkler@fh-hagenberg.at
                        ">stephan.winkler@fh-hagenberg.at
                     </a></td>
                  </tr>
               </body>
            </table>
         </div>
         <div class="col-lg-4 col-md-12">
            <h4>Mag. Michaela Beneder</h4>
            <table class="contact-table">
               <body>
                  <tr>
                     <td>Position:</td>
                     <td>Coordination</td>
                  </tr>
                  <tr>
                     <td>Phone:</td>
                     <td>+43 664 80484 27160</td>
                  </tr>
                  <tr>
                     <td>Mail:</td>
                     <td><a href="mailto:michaela.beneder@fh-hagenberg.at
                        ">michaela.beneder@fh-hagenberg.at
                     </a></td>
                  </tr>
               </body>
            </table>
         </div>
      </div>
   </div>
</section>