<footer id="main-footer">
   <div class="container">
      <div class="row">
         <div class="socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-solid fa-rss"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-2"><a href="#">Contact us</a></div>
         <div class="col-md-2"><a href="#">Imprint</a></div>
         <div class="col-md-2"><a href="#">Data Protection</a></div>
         <div class="col-md-2"><a href="#">Press Material</a></div>
         <div class="col-md-2"></div>
      </div>
      <div class="row">
         <div class="col-md-12">
            &copy; {{ 'now' | date: "%Y" }} University of Applied Sciences Upper Austria / Softwarepark Hagenberg - All rights reserved  
         </div>
      </div>
   </div>
</footer>