<footer id="main-footer">
   <div class="container">
      <div class="row">
         <div class="socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://github.com/ppsn2024/" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="{{ "/feed.xml" | relative_url }}" target="_blank"><i class="fa-solid fa-rss"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-2"><a href="/#contact">Contact us</a></div>
         <div class="col-md-2"><a href="/imprint/">Imprint</a></div>
         <div class="col-md-2"><a href="/dataprotection/">Data Protection</a></div>
         <div class="col-md-2"><a href="/press/">Press</a></div>
         <div class="col-md-2"></div>
      </div>
      <div class="row">
         <div class="col-md-12">
            &copy; {{ 'now' | date: "%Y" }} University of Applied Sciences Upper Austria - All rights reserved  
         </div>
      </div>
   </div>
</footer>