<header>
   <div class="container-fluid h-auto d-inline-block">
      <div class="header-content">
         <div class="row h-100">
            <div class="col-md-5">

            </div>
            <div class="col-md-7 my-auto">
               <div class="row header-row">
                  <div class="col col-lg-3">
                     <a href="#">{%- include svg/ppsn2024-logo.svg -%}</a>
                  </div>
                  <div class="col col-lg-7">
                     <h2>18<sup>th</sup> International<br/>Conference</h2>                     
                  </div>
               </div>
               <div class="row conference-title">
                  <div class="col">
                     <h1>Parallel Problem Solving From Nature</h1>
                  </div>
               </div>
               <div class="row conference-info">
                  <div class="col">
                     <span>
                        September 14<sup>th</sup> - 18<sup>th</sup> 2024<br/>
                        Hagenberg, Upper Austria
                     </span>
                  </div>
               </div>
   
            </div>
         </div>
      </div>

   </div>
</header>