<header>
   <div class="container-fluid h-auto d-inline-block">
      <div class="header-content">
         <div class="row h-100">
            <div class="col-md-5">

            </div>
            <div class="col-md-7 my-auto">
               <div class="row">
                  <div class="col col-md-4">
                     <a href="#">{%- include svg/ppsn2024-logo.svg -%}</a>
                  </div>
               </div>
               <div class="row header-row">
                  <div class="col col-md-12">
                     <h1>18<sup>th</sup> International Conference<br />
                        <span class="bold-heading">Parallel Problem Solving From Nature</span></h1>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <span class="conference-info">
                        Date: September 14<sup>th</sup> - 18<sup>th</sup> 2024
                     </span>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <span class="conference-info">
                        Location: Hagenberg, Austria
                     </span>
                  </div>
               </div>
               
            </div>
         </div>
      </div>

   </div>
</header>