<header>
   <div class="container-fluid h-auto d-inline-block">
      <div class="header-content">
         <div class="row h-100">
            <div class="col-md-5">

            </div>
            <div class="col-md-7 my-auto">
               <h1>The 18th International Conference on Parallel Problem Solving From Nature</h1>
               <p>
                  The International Conference on Parallel Problem Solving From Nature is a biannual open forum
                  fostering
                  the study of natural models, iterative optimization heuristics, search heuristics, machine learning
                  and
                  other artificial intelligence approaches. We invite researchers and practitioners to present their
                  work,
                  ranging from rigorously derived mathematical results to carefully crafted empirical studies.
               </p>
            </div>
         </div>
      </div>

   </div>
</header>