{% capture pagescroll %}{% endcapture %}

{% if page.lang == site.lang %}
    {% if page.url == "/" %}
        {% capture prefix %}{% endcapture %}
        {% capture pagescroll %}page-scroll{% endcapture %}
        {% capture ishome %}true{% endcapture %}
    {% else %}
        {% capture prefix %}/{% endcapture %}
    {% endif %}
{% else %}
    {% capture lang_baseurl %}/{{page.lang}}/{% endcapture %}
    {% if page.url == lang_baseurl %}
        {% capture pagescroll %}page-scroll{% endcapture %}
    {% endif %}
    {% capture prefix %}/{{ page.lang }}/{% endcapture %}
{% endif %}

{% include cookie_consent.html %}
{% if ishome  %}
<nav id="main-nav" class="navbar fixed-top navbar-expand-md navbar-top my-nav">
{% else %}
<nav id="main-nav" class="navbar fixed-top navbar-expand-md navbar-top my-nav nav-page">
{% endif %}
    <div class="container-fluid">
        <div class="brand-container">                        
            {% if ishome %}
            <a href="/" class="navbar-brand nav-home-brand">{% include svg/ppsn2024-logo.svg %}</a>
            {% else %}
            <a href="/" class="navbar-brand nav-page-brand">{% include svg/ppsn2024-logo.svg %}</a>
            {% endif %}
        </div>

        <button type="button" class="navbar-toggler pull-right" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            {% for nav_item in site.data.nav.MainNav %}
                {% if nav_item.hardlink %}
                    {% capture baseurl %}/{% endcapture %}            
                {% else %}
                    {% capture baseurl %}{% endcapture %}
                {% endif %}
                {% if ishome and forloop.first %}
                    <a href="{{baseurl}}/#{{nav_item.item}}" class="nav-item nav-link">{{nav_item.name["en"]}}</a>
                {% else %}
                    <a href="{{baseurl}}{{nav_item.link}}" class="nav-item nav-link">{{nav_item.name["en"]}}</a>
                {% endif %}    

                <!-- {% if forloop.first %}
                <a href="{{baseurl}}{{nav_item.link}}" class="active nav-item nav-link">{{nav_item.name["en"]}}</a>
                {% else %}
                <a href="{{baseurl}}{{nav_item.link}}" class="nav-item nav-link">{{nav_item.name["en"]}}</a>
                {% endif %} -->
            {% endfor %}
        </div>
    </div>
</nav>