<section id="roomplan" class="background-light subpage-sec">
    <div class="session-information">
        <button type="button" id="moveLeftTime" class="btn-nav">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div id="daySchedule">
            <div id="time-slots" class="time-slots"></div>
            <div id="task-slots" class="task-slots"></div>
        </div>
        <button type="button" id="moveRightTime" class="btn-nav">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
    <div id="paperSlider" class="planerContainer">
        <button type="button" id="moveLeft" class="btn-nav">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div class="slider" id="mySlider">

        </div>
        <button type="button" id="moveRight" class="btn-nav">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
    <div class="container-fluid">
        <div class="row information">
            <div class="col-lg-6 col-md-6 col-sm-12 green-bg">
                <div id="paperInfo" class="paperInfo">
                    <div class="container">
                        <h2 id="paperTitle"></h2>
                        <p id="paperAuthors" class="text-justify paperAuthors">

                        </p>
                        <p id="paperAbstract" class="text-justify paperAbstract">

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="svgContainer" class="svgPlan">

                </div>
            </div>
        </div>
    </div>


</section>
<script>
    //Load all necessary data from yml (slots and papers)
    const planData = '{{ site.data.papers}}';
    const paperslots = '{{ site.data.timetable.slots}}';
    //Generate js arrays from the loaded yml data
    const planDataJson = planData.replaceAll("=>", ":");
    const data = JSON.parse(planDataJson);
    const slotsString = paperslots.replaceAll("=>", ":");
    const slotsJsonString = `[${slotsString.replace(/}{/g, '},{')}]`;
    const slotsArray = JSON.parse(slotsJsonString);
    //URL params
    var queryParams = new URLSearchParams(window.location.search);
    var slotIdParam = queryParams.get("slot");
    var paperIdParam = queryParams.get('paperid');
    var posterIdParam = queryParams.get('posterid');
    //Load html elements
    //Detailed information to each slot/paper
    const title = document.getElementById("paperTitle");
    const authors = document.getElementById("paperAuthors");
    const abstract = document.getElementById("paperAbstract");
    //Slider for the papers
    const paperSlider = document.getElementById("paperSlider")
    //Paper container in the slider
    const slider = document.getElementById("mySlider");
    //SVG Container for roomplans
    const svgContainer = document.getElementById("svgContainer");

    //If no slot is selected via params
    //!TODO set it to the current day and time
    if (slotIdParam == null) {
        slotIdParam = "s3_5";
    }
    //Get paper and slot information for current slot id
    const papersPerSlot = getPapersBySlotId(slotIdParam);
    const slot = getSessionBySlotId(slotIdParam);

    addPapersToSlider(papersPerSlot, slider);
    renderDetails(slot)
    drawDaySchedule(slot)
    handleActiveTaskSlotsEffect(slot.id)



    //Add event listeners to the papers
    const papers = document.querySelectorAll(".paper");
    papers.forEach(paper => {
        paper.onclick = function () {
            /*papers.forEach(paper => {
                paper.classList.remove('active');
            });*/
            const paperId = this.id;
            const paper = papersPerSlot.find(p => p.ID == paperId);
            //this.classList.add('active');

            queryParams.set("paperid", paper.ID);
            queryParams.set("posterid", paper.poster_id)
            paperIdParam = paper.ID;
            posterIdParam = paper.poster_id;
            history.pushState(null, null, "?" + queryParams.toString());
            renderDetails(slot)
        }
    });

    function renderDetails(slot) {
        if (paperIdParam != null) {
            const currentPaper = getPaperById(paperIdParam);
            swapSVG("/assets/rooms/hs5.svg", svgContainer)
            title.innerHTML = currentPaper.Title;
            authors.innerHTML = currentPaper.Authors;
            abstract.innerHTML = currentPaper.Abstract;
            colorPosterSVG(currentPaper.poster_id);
            colorActivePaper(currentPaper.ID)
        } else {
            if (slot.class == "session") {
                console.log(slot)
                title.innerHTML = slot.title;
                authors.innerHTML = "Session Chair: " + slot.chair;
                //Build Sessionplan
                let list = "<ul class='session_overview_list'>";

                papersPerSlot.forEach(paper => {
                    list += "<li>" + "<span class='session_overview_list_id'>" + paper.ID + ":</span>" + " " + paper.Title + "</li>";
                });
                list += "</ul>"
                abstract.innerHTML = list;
            } else if (slot.class == "tutorial") {
                title.innerHTML = slot.title;
                authors.innerHTML = "Tutorial speakers: " + slot.speaker;
                abstract.innerHTML = slot.description;
            } else if (slot.class == "workshop") {
                title.innerHTML = slot.title;
                authors.innerHTML = "Tutorial speakers: " + slot.speaker;
                abstract.innerHTML = slot.description;
            } else if (slot.class == "break") {
                if (slot.title.includes("Lunch  ")) {
                    title.innerHTML = slot.title;
                    abstract.innerHTML = "Enjoy your meal at the lunch room :)"
                } else if (slot.title.includes("Coffee")) {
                    title.innerHTML = slot.title;
                    abstract.innerHTML = slot.description
                    abstract.innerHTML = "Get a coffee and meet the people around the area"
                }
            }
            swapSVG("/assets/rooms/roomplan.svg", svgContainer)

            var element = null;

            if (slot.room == "Break Room") {
                element = document.getElementById("breakroom")
            } else if (slot.room == "Lecture Hall Corridor") {
                element = document.getElementById("registrationdesk")
            } else if (slot.room == "tba") {
                element = document.getElementById("hs5")
            }

            element.setAttribute("class", "cls-1")
        }
    }

    function loadRoom(slot) {
        swapSVG("/assets/rooms/roomplan.svg", svgContainer)
        //Highlight Room
        console.log
        if (slot.room == "Break Room") {
            const element = document.getElementById("breakroom");
            console.log(element)
        }
    }

    function getPaperById(paperId) {
        for (const paper of data.papers) {
            if (paper.ID == paperId) {
                return paper;
            }
        }

        return null; // Return null if paper with given ID is not found
    }

    function getPapersBySlotId(slotId) {
        let papers = [];
        for (const paper of data.papers) {
            if (paper.slot_id == slotId) {
                papers.push(paper);
            }
        }

        return papers;
    }

    function getSessionBySlotId(slotId) {
        return getElementById(slotsArray, slotId)
    }

    function getElementById(array, id) {
        return array.find(obj => obj.id === id);
    }

    function sortById(array) {
        return array.sort((a, b) => {
            if (a.id < b.id) return -1;
            if (a.id > b.id) return 1;
            return 0;
        });
    }

    function swapSVG(svgPath, renderContainer) {
        const request = new XMLHttpRequest();
        request.open('GET', svgPath, false);
        request.send(null);

        if (request.status === 200) {
            renderContainer.innerHTML = request.responseText;

            const svgElement = renderContainer.querySelector('svg');
            if (svgElement) {
                svgElement.setAttribute('width', '100%');
                svgElement.setAttribute('preserveAspectRatio', 'xMinYMin meet');
            }
        }
    }

    function addPapersToSlider(papers, slider) {
        papers.forEach(paper => {
            // Create the paper div
            const paperDiv = document.createElement('div');
            paperDiv.className = 'paper';
            paperDiv.id = paper.ID;

            // Create the content div
            const contentDiv = document.createElement('div');
            contentDiv.className = 'content';

            // Create the h4 element for ID
            const h4 = document.createElement('h4');
            h4.textContent = `ID: #${paper.ID}`;

            // Create the p element for Title
            const p = document.createElement('p');
            p.textContent = paper.Title;

            // Append h4 and p to contentDiv
            contentDiv.appendChild(h4);
            contentDiv.appendChild(p);
            // Append contentDiv to paperDiv
            paperDiv.appendChild(contentDiv);
            // Append paperDiv to slider
            slider.appendChild(paperDiv);
        });
    }

    function colorPosterSVG(activeStandId) {
        const stands = document.querySelectorAll(".st3");
        const activeStand = document.querySelector("#" + activeStandId);
        stands.forEach(x => {
            x.classList.remove("active");
        });
        activeStand.classList.add("active");
    }

    function colorActivePaper(paperId) {
        const papers = document.querySelectorAll(".paper");
        const activePaper = document.getElementById(paperId);

        papers.forEach(x => {
            x.classList.remove("active");
        });
        activePaper.classList.add("active");
    }

    function drawDaySchedule(slot) {
        const timeContainer = document.getElementById("time-slots");
        const taskContainer = document.getElementById("task-slots");

        const selectedDay = days.find(day => day.id == slot.day);
        const selectedSlots = slots.filter(x => x.day == selectedDay.id);
        
        const endHourElement = selectedSlots.reduce((max, obj) => (obj.end > max.end ? obj : max), selectedSlots[0]);
        const startHour = 8;
        const endHour = endHourElement.endnum;
        const timeElements = (endHour - startHour) * 2;

        const timeSlots = createTimeSlots(startHour, endHour);
        timeSlots.forEach(time => {
            const div = document.createElement("div");
            div.classList.add("time-slot");
            div.textContent = time;
            timeContainer.appendChild(div);
        });


        createTaskSlots(selectedSlots, taskContainer);

        initializeTimeSlots();

        const taskSlots = document.querySelectorAll('.task-slot');
        taskSlots.forEach(task => {
            task.addEventListener('mouseover', function() {
                /*const start = (parseFloat(task.style.marginLeft) / 120); // Calculate start time based on margin-left
                const width = (parseFloat(task.style.width) / 120); // Calculate width of task slot
                const end = start + width / 2; // Calculate end time^*/
                const start = task.getAttribute("start")
                const end = task.getAttribute("end")

                handleHoverEffect(parseFloat(start), parseFloat(end))

            });

            task.addEventListener('mouseout', function() {
                const timeSlots = document.querySelectorAll('.time-slot');
                timeSlots.forEach(slot => {
                slot.classList.remove('hovered');
                });
            });

            task.addEventListener('onclick', function() {
                handleActiveTaskSlotsEffect(task.getAttribute("slotid"));
            });
        });
}

    function createTimeSlots(start, end) {
        const timeSlots = [];
        let current = new Date();
        current.setHours(start, 0, 0, 0);

        while(current.getHours() < end) {
            timeSlots.push(current.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'}));
            current.setMinutes(current.getMinutes() + 30);
        }
        return timeSlots;
    }

    function createTaskSlots(tasks, container) {
        console.log(tasks)
        const slotsPerHour = 2;
        const prevStart = 8;

        tasks.forEach(task => {
            const startSlot = (task.startnum - 8) * slotsPerHour;
            const endSlot = (task.endnum - 8) * slotsPerHour;
            const durationSlots = endSlot - startSlot;
            const maringSlots = (task.startnum - prevStart) * slotsPerHour;

            const a = document.createElement('a');
            a.setAttribute("href", "/iprogram/?slot=" + task.id + "#roomplan")

            const div  = document.createElement("div");
            div.classList.add("task-slot", task.class);
            div.style.width = `${durationSlots * 120}px`;
            div.style.marginLeft = `${maringSlots  * 120}px`;
            div.setAttribute("start", task.startnum)
            div.setAttribute("end", task.endnum)
            div.setAttribute("slotId", task.id)
            div.textContent = task.title;

            a.appendChild(div);

            container.appendChild(a);
        });
    }

    function initializeTimeSlots() {
        const timeSlots = document.querySelectorAll('.time-slot');
        timeSlots.forEach((slot, index) => {
            const time = (index + 16) / 2; // Calculate time (e.g., 8.0, 8.5, ...)
            slot.setAttribute('data-time', time.toFixed(1));
        });
    }

    function handleHoverEffect(start, end) {
        console.log(start);
        console.log(end)
        // Clear previous hovered classes
        const timeSlots = document.querySelectorAll('.time-slot');
            timeSlots.forEach(slot => {
            slot.classList.remove('hovered');
        });

        // Add hovered class to time slots between start and end
        for (let i = start; i < end; i += 0.5) {
            const timeSlot = document.querySelector(`.time-slot[data-time="${i.toFixed(1)}"]`);
            if (timeSlot) {
            timeSlot.classList.add('hovered');
            }
        }
    }

    function handleActiveTaskSlotsEffect(slotId) {
        var taskSlots = document.querySelectorAll(".task-slot");
        var activeTaskSlot = document.querySelector(`[slotid="${slotId}"]`);
        
        taskSlots.forEach(slot => {
            slot.classList.remove('active');
        });

        activeTaskSlot.classList.add('active');
    }
</script>

<script>
    const roomSlider = document.querySelector(".slider");
    const btnLeft = document.getElementById("moveLeft");
    const btnRight = document.getElementById("moveRight");

    let baseSliderWidth = roomSlider.offsetWidth;
    let activeIndex = 0;




    btnLeft.addEventListener("click", (e) => {
        let paperWidth = document.querySelector(".paper").getBoundingClientRect()
            .width;
        let scrollDistance = paperWidth * 6; // Scroll the length of 6 papers. TODO: make work for mobile because (4 papers/page instead of 6)

        roomSlider.scrollBy({
            top: 0,
            left: -scrollDistance,
            behavior: "smooth",
        });
        activeIndex = (activeIndex - 1) % 3;
        console.log(activeIndex);
    });

    // Scroll Right button
    btnRight.addEventListener("click", (e) => {
        let paperWidth = document.querySelector(".paper").getBoundingClientRect()
            .width;
        let scrollDistance = paperWidth * 6; // Scroll the length of 6 papers. TODO: make work for mobile because (4 papers/page instead of 6)

        console.log(`paperWidth = ${paperWidth}`);
        console.log(`scrolling right ${scrollDistance}`);

        // if we're on the last page
        if (activeIndex == 2) {
            // duplicate all the items in the slider (this is how we make 'looping' slider)
            //populateSlider();
            roomSlider.scrollBy({
                top: 0,
                left: +scrollDistance,
                behavior: "smooth",
            });
            activeIndex = 0;
        } else {
            roomSlider.scrollBy({
                top: 0,
                left: +scrollDistance,
                behavior: "smooth",
            });
            activeIndex = (activeIndex + 1) % 3;
            console.log(activeIndex);
        }
    });

    const slotSlider = document.getElementById("daySchedule");
    const btnLeftTime = document.getElementById("moveLeftTime");
    const btnRightTime = document.getElementById("moveRightTime");

    let baseSlotSliderWidth = slotSlider.offsetWidth;
    let activeIndexSlotSlider = 0;

    // Scroll Right button
    btnRightTime.addEventListener("click", (e) => {
        let slotWidth = document.querySelector(".task-slot").getBoundingClientRect()
            .width;
        let scrollDistance = slotWidth * 8; // Scroll the length of 6 papers. TODO: make work for mobile because (4 papers/page instead of 6)

        console.log(`paperWidth = ${slotWidth}`);
        console.log(`scrolling right ${scrollDistance}`);

        slotSlider.scrollBy({
            top: 0,
            left: +scrollDistance,
            behavior: "smooth",
        });
        activeIndex = (activeIndex + 1) % 3;
        console.log(activeIndex);
    });

    btnLeftTime.addEventListener("click", (e) => {
        let slotWidth = document.querySelector(".task-slot").getBoundingClientRect()
            .width;
        let scrollDistance = slotWidth * 8; // Scroll the length of 6 papers. TODO: make work for mobile because (4 papers/page instead of 6)

        console.log(`paperWidth = ${slotWidth}`);
        console.log(`scrolling right ${scrollDistance}`);

        slotSlider.scrollBy({
            top: 0,
            left: -scrollDistance,
            behavior: "smooth",
        });
        activeIndex = (activeIndex - 1) % 3;
        console.log(activeIndex);
    });


</script>