<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; {{ 'now' | date: "%Y" }} University of Applied Sciences Upper Austria<div class="rowbreak"></div>
                PPSN
                2024 is organized and supported by
            </div>
            <div class="row">
                {% assign fhooe = site.data.nav.Partners | where: "item", "fhooe" | first %}
                {% assign swph = site.data.nav.Partners | where: "item", "swph" | first %}
                {% assign looe = site.data.nav.Partners | where: "item", "looe" | first %}
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <div id="logo-uasua" class="footer-logo"></div>
                </div>
                <div class="col-md-2">
                    <div id="logo-swph" class="footer-logo"></div>
                </div>
                <div class="col-md-2">
                    <div id="logo-ua" class="footer-logo"></div>
                </div>
                <div class="col-md-3"><a></div>
            </div>
        </div>
</footer>