<style>

    #timetable .container {
        max-width: 90%;
    }

    .timetable-tab {
        width: 100%;
        cursor: default;        
        border-collapse: collapse;
        border-style: hidden;        

        td,
        tr,
        th {
            border-collapse: collapse;
            text-align: left;            
        }

        thead>tr {
            border-bottom: 5px solid #ffffff;
        }

        tbody>tr>td:first-child {
            border-right: 5px solid #ffffff;
        }

        td>span,
        th>span {            
            display: inline-block;            
            text-align: center;            
            vertical-align: text-top;
            margin: 0;
            padding: 1em;    
            width: 100%;            
        }

        tbody tr {            
            min-height: 50px!important;
            border: 1px solid #eeeeee;
        }

        tbody tr:hover .time {                        
            background:#999999;
            cursor: default;
            transition: all .1s ease;
        }

        th {            
            background: #ffffff;
            font-weight: bold;
        }

        td {
            background: #ffffff;
            line-height: 1rem;
        }

        .day {
            background: #eeeeee;
            width: 20%;
        }

        .time {            
            background: #eeeeee;
        }

        .slot {
            background-color: #ffffff;
            outline: 5px solid white;
            outline-offset: -5px;
            transition: all .3s ease;
            overflow: hidden;
            filter: brightness(100%);
        }

        .slot:hover {
            cursor: default;            
            filter: brightness(125%);
        }

        .slot-title {
            font-weight: bold;
        }

        .slot-baseinfo {
            font-size: 0.75em;   
        }

        .slot-description {            
            font-size: 0.75em;            
        }

        .slot-speaker {            
            font-size: 0.0em;
            line-height: 0.5em;
            font-style: italic;
        }

        .organization {
            background: #B3965D;
        }

        .tutorial {
            background: #71B28D;
        }

        .workshop {
            background: #678C9E;
        }

        .session {
            background: #5E8036;
            background: #7EA254
        }

        .break {
            background: #BDA5D9;
        }

        .social {            
            background: #D27B64;
        }

        .keynote {
            background: #D889A8;
        }

        @media screen and (max-width:700px) {

            table,
            tr,
            td {
                padding: 0;
                border: 1px solid black;
            }

            table {
                border: none;
            }

            thead {
                display: none;
            }

            tr {
                float: left;
                width: 100%;
                margin-bottom: 2em;
            }

            td {
                float: left;
                width: 100%;
                padding: 1em;
            }

            td::before {
                content: attr(data-label);
                word-wrap: break-word;
                background: #eee;
                border-right: 2px solid black;
                width: 20%;
                float: left;
                padding: 1em;
                font-weight: bold;
                margin: -1em 1em -1em -1em;
            }
        }

    }
</style>

<script>
    var matrix;
</script>

<section id="timetable" class="background-light">
    <div class="container text-justify">
        <div class="timetable-container">

            {% assign days = site.data.timetable.days | sort:"date" %}
            {% assign slots = site.data.timetable.slots | sort:"day" %}
            {% assign mintime = site.data.timetable.slots | map: "start" | sort | first %}
            {% assign maxtime = site.data.timetable.slots | map: "end" | sort | last %}
            {% assign timestart = 0 %}
            {% assign timeend = maxtime | minus: mintime | times: 2 | floor %}
            {% assign timerange = (timestart..timeend) %}

            {% assign daycount = days | map: "columns" | size %}
            {% assign columncount = 0 %}
            {% for d in days %}
            {% assign columncount = columncount | plus: d.columns %}
            {% endfor %}

            <table id="timetable-tab" class="timetable-tab">
                <thead>
                    <tr>
                        <th></th>
                        {% for d in days %}
                        <th id="day-{{ d.day }}" class="day" colspan="{{ d.columns }}"><span>{{ d.date | date: "%A, %-d %b" }}</span></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in timerange %}                    
                        {% assign timeoffset = i | divided_by: 2.0 %}
                        {% assign timenumeric = mintime | plus: timeoffset %}

                        {% assign fullhour = i | divided_by: 2 %}
                        {% assign halfhour = i | modulo: 2 %}
                        {% assign timebase = mintime | floor | plus: fullhour %}
                        {% assign timestring = "" %}
                        {% assign timeid = "" %}
                        {% if halfhour == 0 %}
                        {% assign timestring = timestring | append: timebase | append: ":00" %}
                        {% assign timeid = timeid | append: timebase | append: "_00" %}
                        {% else %}
                        {% assign timestring = timestring | append: timebase | append: ":30" %}
                        {% assign timeid = timeid | append: timebase | append: "_30" %}
                        {% endif %}

                        <tr id="timerow-{{ timeid }}">
                            <td id="time-{{ timeid }}" class="time"><span>{{ timestring }}</span></td>

                            {% for d in days %}
                                {% assign offset = i | times: days.size %}
                                
                                {% assign startingslots_day = slots | where: "day", d.day %}
                                {% assign startingslots = startingslots_day | where: "start", timenumeric %}

                                {% for s in startingslots %}
                                    {% assign rowspan = s.end | minus: s.start | times: 2 %}
                                    <td id="slot-{{ s.id }}" rowspan="{{ rowspan }}" colspan="{{ s.colspan }}" class="slot {{ s.class }} slot-day-{{ s.day }}">
                                        <span>
                                            <span class="slot-title">{{ s.title }}</span>

                                            {% assign endtime_fullhour = s.end | floor %}
                                            {% assign endtime_halfhour = s.end | minus: endtime_fullhour %}                                            
                                            {% assign endtime_string = "" | append: endtime_fullhour %}

                                            {% if endtime_halfhour == 0 %}
                                            {% assign endtime_string = endtime_string | append: ":00" %}                                            
                                            {% else %}
                                            {% assign endtime_string = endtime_string | append: ":30" %} 
                                            {% endif %}

                                            <br/><span class="slot-baseinfo">{{ timestring }} - {{ endtime_string }}&nbsp;&nbsp;{{ s.room }}</span>                                                                     
                                            {% if s.description != nil %}<br/><span class="slot-description">"{{ s.description }}"</span>{% endif %}
                                            {% if s.speaker != nil %}<span class="slot-speaker">&nbsp;by {{ s.speaker }}</span>{% endif %}
                                        </span>

                                    </td>
                                {% endfor %}

                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


<script>
    // (0) prepare objects, gather information from jekyll, etc.
    function printMatrix(m) {
        console.log("matrix:");
        for (var i = 0; i < m.length; i++) {
            console.log(m[i].join(' '));
        }
        console.log("");
    }

    var rows = {{ timeend }};
    rows++;
    var cols = {{ columncount }};
    matrix = new Array(rows);
    for (var i = 0; i < matrix.length; i++) {
        matrix[i] = new Array(cols).fill(false);
    }    

    var timetable = document.getElementById("timetable-tab");
    var daycolumns = document.querySelectorAll("#timetable-tab > thead > tr > th.day");
    var timerows = document.querySelectorAll("#timetable-tab > tbody > tr");    
    
    var dayspans = [], spandays = [];
    let curc = 0;
    for(let c = 0; c < daycolumns.length; c++) {
        let day_span = parseInt(daycolumns[c].getAttribute("colspan"));
        dayspans[c] = day_span;
        let i = 0;
        for(i = 0; i < day_span; i++) {
            spandays[curc] = c;
            curc++;                   
        }        
    }

    // (1) setup allocation matrix (boolean)
    for(let r = 0; r < timerows.length; r++) {
        for(let d = 0; d < daycolumns.length; d++) {
            let day_id = daycolumns[d].getAttribute("id");            
            let day_span = daycolumns[d].getAttribute("colspan");
            let slots = document.querySelectorAll("#" + timerows[r].id + " td.slot-" + day_id);            
            
            for(let s = 0; s < slots.length; s++) {
                let slot_colspan = slots[s].getAttribute("colspan");
                let slot_rowspan = slots[s].getAttribute("rowspan");
                let classes = slots[s].getAttribute("class");
                let slot_day = parseInt(classes.split("slot-day-")[1]);
                
                let c = 0;
                for(let i = 0; i < slot_day-1; i++) {
                    c += dayspans[i];
                }
                var foundEmptySlot = false;
                while(!foundEmptySlot) {
                    if(!matrix[r][c]) foundEmptySlot = true;
                    else c++;
                }

                for(let cs = 0; cs < slot_colspan; cs++) {
                    for(let rs = 0; rs < slot_rowspan; rs++) {
                        matrix[r+rs][c+cs] = true;
                    }
                }
            }
        }
    }

    // printMatrix(matrix);

    // (2) add missing td (for every "false"-item inside the matrix)
    for(let r = 0; r < timerows.length; r++) {
        var lastslot_id = "";
        for(let c = 0; c < cols; c++) {
            let cur_day = spandays[c];
            let slots = document.querySelectorAll("#" + timerows[r].id + " td.slot-day-" + cur_day);
            if(slots.length > 0) {
                lastslot_id = slots[slots.length-1].id;
                if(r == 0) console.log(c + ": " + lastslot_id);
            }
            
            if(matrix[r][c] == false) {
                if(lastslot_id == "") {
                    lastslot_id = document.querySelector("#" + timerows[r].id + ">td:first-child").id                    
                }
                if(r == 0) console.log(c + ": " + lastslot_id);
                const lastslot = document.getElementById(lastslot_id);

                let emptytd = document.createElement("td");
                let rndId = Math.floor(Math.random() * 1000000);
                let newslot_id = "slot-empty-" + rndId;
                emptytd.setAttribute("id", newslot_id);

                lastslot.insertAdjacentElement("afterend", emptytd);
                lastslot_id = newslot_id;
            }            
        }
    }

</script>