<section id="venue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 spacer">

            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row image-row section-row">
            <div class="col-md-4 col-sm-12 px-0 section-col ">
                <div class="section">
                    <div class="section-in">
                        <img src="{{ " /assets/img/fhhgb.jpg" | relative_url }}" class="img-fluid w-100" />
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>test</h2>
            </div>
            <div class="col-md-4 col-sm-12 px-0 section-col ">
                <div class="section">
                    <div class="section-in">
                        <img src="{{ " /assets/img/aec.jpg" | relative_url }}" class="img-fluid w-100" />
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>test</h2>
            </div>
            <div class="col-md-4 col-sm-12 px-0 section-col ">
                <div class="section">
                    <div class="section-in">
                        <img src="{{ " /assets/img/freistadt.jpg" | relative_url }}" class="img-fluid w-100" />
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>test</h2>
            </div>
        </div>
    </div>
</section>