<section id="venue">
    <div class="container-fluid p-0">
        <div class="row section-row">
            <div class="col-md-4 p-0 section-col">
                <div class="section hgb">
                    <div class="text-in">
                        <h2>Conference</h2>
                        <p>@Softwarepark, Hagenberg</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0 section-col">
                <div class="section aec">
                    <div class="text-in">
                        <h2>Welcome Reception</h2>
                        <p>@Ars Electronica Center, Linz</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0 section-col">
                <div class="section fr">
                    <div class="text-in">
                        <h2>Conference Dinner</h2>
                        <p>@Medieval Old Town, Freistadt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>