<section id="venue">
    <div class="container-fluid p-0">
        <div class="row">
          <div class="col-lg-4 p-0">
            <div class="image-item hgb">
              <div class="overlay">
                <h2>Conference</h2>
                <p>Softwarepark, Hagenberg</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 p-0">
            <div class="image-item aec">
              <div class="overlay">
                <h2>Welcome Reception</h2>
                <p>Ars Electronica Center, Linz</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 p-0">
            <div class="image-item fr">
              <div class="overlay">
                <h2>Conference Dinner</h2>
                <p>Medieval Old Town, Freistadt</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>