
@import
  "custom/nav",
  "custom/footer"
;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family:$base-font-family;
   font-size:$base-font-size;
   color:$base-text-color;
   background: $base-bg;
   overflow-x: hidden;
}

.background-primary{
  background: $brand-primary;
  color: $brand-text-light;

  a {
    color: $brand-text-light;
    text-decoration: underline;
  }
}

.background-secondary {
  background: $brand-secondary;
  color: $brand-text-light;
  a {
    color: $brand-text-light;
    text-decoration: underline;
  }
}

.background-light {
  background: $brand-light;
  color: $brand-text-dark;
}

.background-dark {
  background: $brand-dark-grey;
  color: $brand-text-light;
  a {
    color: $brand-text-light;
    text-decoration: underline;
  }
}

section.pad{
  padding-top:30px;
  padding-bottom:30px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

a {
  color: $brand-primary;
  text-decoration: none;;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-serif {
  font-family: $serif-font!important;
}

#timeline::before {
  content: '';
  display: block;
  height:140px;
  margin-top: -140px;
  visibility: hidden;
}



// button design

.btn-default {
  border-color: #fff;
  text-decoration: none;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: $brand-primary;
  text-decoration: none;
  color: #fff;
  background-color: $brand-primary;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: $brand-primary;
  color: #fff;
  background-color: $brand-primary-light;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: $brand-primary;
  background-color: $brand-primary;
}

.btn-primary .badge {
  color: $brand-primary;
  background-color: #fff;
}

.btn {
  text-decoration: none;
  border: 0;
  border-radius: 0px;
  text-transform: uppercase;
  font-family: $sans-serif-font;
  font-weight: 700;
}

.btn:focus {
outline: 0;
}

.btn-xl {
  padding: 15px 30px;
}

.btn-slim-primary {
  color: #fff;
  background-color: inherit;
  border: 2px solid #fff;
  text-decoration: none;
}

.btn.btn-slim-primary:hover {
  color: lighten($brand-primary, 20%);
  border-color: lighten($brand-primary, 20%);
}

.bg-dark .btn:hover,
.bg-dark .btn:focus {
    color: $brand-primary-light;
    border-color: $brand-primary-light;
}

.cancle {
  text-decoration: line-through;
}