$brand-primary: #5e8036;
$brand-primary-light: lighten($brand-primary, 15%);
$brand-primary-dark: darken($brand-primary, 15%);
$brand-secondary: #00a6eb;
$brand-success:#5e8036;
$bradn-info:#52d1dc;
$brand-warning:#f79824;
$brand-danger:#f24236;
$brand-light: #ffffff;
$brand-grey: #605B56;
$brand-light-grey: lighten($brand-grey, 15%);
$brand-dark-grey: #333333;
$brand-black: #222222;
$brand-text-light: #ffffff;
$brand-text-dark: #111111;

// Source Sans Pro
@font-face {
   font-family: "Source Sans Pro";
   src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
 }
 @font-face {
   font-family: "Source Sans Pro";
   src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");  
   font-style: italic;
 }
 @font-face {
   font-family: "Source Sans Pro";
   src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
   font-weight: bold;
 }
 @font-face {
   font-family: "Source Sans Pro";
   src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf");
   font-weight: bold;
   font-style: italic;
 }
 @font-face {
   font-family: "Source Sans Pro";
   src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
   font-weight: 900;
 }
 
 // Source Serif Pro
 @font-face {
   font-family: "Source Serif Pro";
   src: url("../../assets/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf");
 }
 @font-face {
   font-family: "Source Serif Pro";
   src: url("../../assets/fonts/Source_Serif_Pro/SourceSerifPro-Italic.ttf");  
   font-style: italic;
 }
 @font-face {
   font-family: "Source Serif Pro";
   src: url("../../assets/fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf");
   font-weight: bold;
 }
 @font-face {
   font-family: "Source Serif Pro";
   src: url("../../assets/fonts/Source_Serif_Pro/SourceSerifPro-BoldItalic.ttf");
   font-weight: bold;
   font-style: italic;
 }
 @font-face {
   font-family: "Source Serif Pro";
   src: url("../../assets/fonts/Source_Serif_Pro/SourceSerifPro-Black.ttf");
   font-weight: 900;
 }
 
 // Source Code Pro
 @font-face {
   font-family: "Source Code Pro";
   src: url("../../assets/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf");
 }
 @font-face {
   font-family: "Source Code Pro";
   src: url("../../assets/fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf");  
   font-style: italic;
 }

// Poppins
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-Black.ttf);
   font-weight:900;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-BlackItalic.ttf);
   font-weight:900;
   font-style: italic;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-Bold.ttf);
   font-weight:bold;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-BoldItalic.ttf);
   font-weight:bold;
   font-style: italic;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-ExtraBold.ttf);
   font-weight:800;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
   font-weight:800;
   font-style: italic;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
   font-weight:200;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf);
   font-weight:200;
   font-style:italic;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-Italic.ttf);
   font-style: italic;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-Light.ttf);
   font-weight:300;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-LightItalic.ttf);
   font-weight:300;
   font-style:italic;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-Medium.ttf);
   font-weight:500;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-MediumItalic.ttf);
   font-weight:500;
   font-style:italic;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
   font-weight:400;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
   font-weight:600;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf);
   font-weight:600;
   font-style:italic;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-Thin.ttf);
   font-weight:100;
}
@font-face {
   font-family: "Poppins";
   src: url(../../assets/fonts/Poppins/Poppins-ThinItalic.ttf);
   font-weight:100;
   font-style: italic;
}

$sans-serif-font: "Source Sans Pro", "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font: 'Source Serif Pro', 'Times New Roman', serif;

$base-font-size: 1rem !default;
$base-font-family: $sans-serif-font !default;
$base-text-color: #111 !default;
$base-bg: #fff !default;
$base-font-color-dark-bg: #c8c8c8 !default;
$base-darkgrey-bg: $brand-dark-grey !default;
$base-text-color-light: #fff !default;

// ================================================

// definitons for syntax highlighting
$spacing-unit:     30px !default;
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Define defaults for each variable.

$base-font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #ffffff !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
