header{
   height:100vh;
   //background-image: linear-gradient(#86B918, #7fb800);
   position: relative;
   overflow: hidden;

    canvas {
      display: block;
      position: absolute;
    }

   .header-container{
      height: 100%;
      padding: 120px 0 60px 0; 
      position: absolute;
   }

   .animation-container {
      // height: 100%;
      height: 80px;
      margin: 0 15px 50px 15px;
      background: url("../../assets/logo/ppsn2024-logo.svg");
      // background-size: contain;
      background-repeat: no-repeat;
      // background-position: center;
   }

   // .animation-container{
   //    height:100%;
   //    padding-right:100px;         
   //    background: url("../../assets/logo/ppsn2024-logo-anim.svg");
   //    background-size: contain;
   //    background-repeat: no-repeat;
   //    background-position: center;
   // }

   .header-info-container {
      padding:0 15px 0 15px;
   }

   h1 {
      font-size:3.0rem;
      font-weight:700;
   }

   h2 {
      font-size:2.2rem;
      font-weight:700;
   }

   p {
      font-size:1.6rem;
      font-weight:400;
   }
}


