---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import
    "vars",
    "global",
    "header/header",
    "news/newspost-teaser",
    "news/newspost-teaser",
    "news/news-sidebar",
    "news"    
;

section#overview {
   address {
      padding: 0px 0px 0px 20px;
   }
}

//Timeline
#timeline{
   display: grid;
   align-content: center;
   gap: 2rem;
   padding: 2rem;

   ul {
      --col-gap: 2rem;
      --row-gap: 2rem;
      --line-w: 0.25rem;
      display: grid;
      grid-template-columns: var(--line-w) 1fr;
      grid-auto-columns: max-content;
      column-gap: var(--col-gap);
      list-style: none;
      width: min(60rem, 90%);
      margin-inline: auto;
   }

   /* line */
   ul::before {
      content: "";
      grid-column: 1;
      grid-row: 1 / 20;
      background: rgb(225, 225, 225);
      border-radius: calc(var(--line-w) / 2);
   }

   /* columns*/

   /* row gaps */
   ul li:not(:last-child) {
      margin-bottom: var(--row-gap);
   }

   /* card */
   ul li {
      grid-column: 2;
      --inlineP: 1.5rem;
      margin-inline: var(--inlineP);
      grid-row: span 2;
      display: grid;
      grid-template-rows: min-content min-content min-content;
   }

   /* date */
   ul li .date {
      --dateH: 3rem;
      height: var(--dateH);
      margin-inline: calc(var(--inlineP) * -1);

      text-align: center;
      background-color: $brand-primary;

      color: white;
      font-size: 1.25rem;
      font-weight: 700;

      display: grid;
      place-content: center;
      position: relative;

      border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
   }

   /* date flap */
   ul li .date::before {
      content: "";
      width: var(--inlineP);
      aspect-ratio: 1;
      background: $brand-primary;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
      position: absolute;
      top: 100%;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      right: 0;
   }

   /* circle */
   ul li .date::after {
      content: "";
      position: absolute;
      width: 2rem;
      aspect-ratio: 1;
      background: var(--bgColor);
      border: 0.3rem solid $brand-primary;
      border-radius: 50%;
      top: 50%;

      transform: translate(50%, -50%);
      right: calc(100% + var(--col-gap) + var(--line-w) / 2);
   }

   /* title descr */
   ul li .title,
   ul li .descr {
      background: var(--bgColor);
      position: relative;
      padding-inline: 1.5rem;
   }
   ul li .title {
      overflow: hidden;
      padding-block-start: 1.5rem;
      padding-block-end: 1rem;
      font-weight: 500;
   }
   ul li .descr {
      padding-block-end: 1.5rem;
      font-weight: 300;
   }

   /* shadows */
   ul li .descr::before {
      content: "";
      position: absolute;
      width: 90%;
      height: 0.10rem;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      filter: blur(2px);
   }

   ul li .descr::before {
      z-index: -1;
      bottom: 0.25rem;
   }

   @media (min-width: 40rem) {
      ul {
         grid-template-columns: 1fr var(--line-w) 1fr;
      }
      ul::before {
         grid-column: 2;
      }
      ul li:nth-child(odd) {
         grid-column: 1;
      }
      ul li:nth-child(even) {
         grid-column: 3;
      }

      /* start second card */
      ul li:nth-child(2) {
         grid-row: 2/4;
      }

      ul li:nth-child(odd) .date::before {
         clip-path: polygon(0 0, 100% 0, 100% 100%);
         left: 0;
      }

      ul li:nth-child(odd) .date::after {
         transform: translate(-50%, -50%);
         left: calc(100% + var(--col-gap) + var(--line-w) / 2);
      }
      ul li:nth-child(odd) .date {
         border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
      }
   }
}

// Schedule
#schedule {
   background:$base-darkgrey-bg;
   --border: 1px solid #4d4d4d;
   .schedule-container {
      padding: 2rem;
      margin: auto;
      max-width:1400px;

      h2{
         color: $brand-primary;
         font-size: 2rem;
         font-weight: 500;
      }

      article {
         padding-bottom: 1rem;
         border-bottom: var(--border);
         min-height: 12rem;
         max-height: 12rem;
         position: relative;
         display: inline-block;

         h3 {
            font-weight: 500;
            font-size:1.5rem;
            margin: 0.5rem 0;
            color: $base-font-color-dark-bg;
         }
         p {
            font-size: 0.95rem;
            color:$base-font-color-dark-bg;
         }

         a {
            text-decoration: underline;
            font-size:0.95rem;
            color: $base-font-color-dark-bg;
         }

         a:hover {
            color: $brand-primary;
         }

         span.calendar-check{
            position:absolute;
            width:100%;
            top:10px;
            left:90%;
         }
      }
   }
}


//Contact Map
section#contact-map{
   #map{
      min-height:500px;
   }
}

//Venue section
section#venue{
   .image-item {
      position: relative;
      height: 400px;
      overflow: hidden;
      margin:0;
    }

    .hgb {
      background-image: url("../img/fhhgb.jpg");
      background-size:cover;
    }

    .aec {
      background-image: url("../img/aec.jpg");
      background-size:cover;
    }

    .fr {
      background-image: url("../img/freistadt.jpg");
      background-size:cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 350ms linear;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-align: center;
      color: #fff;
    }

    .overlay h2 {
      font-size: 2.0rem;
      margin-bottom: 10px;
    }

    .overlay p {
      font-size: 1.4rem;
    }

    .image-item:hover .overlay {
      opacity: 1;
    }

}

//Contact section
section#contact{
   // color:#fff;
   h2{
      font-size:1.8rem;
      margin-bottom:20px;
   }

   a{
      // color:#fff;
      text-decoration: none;;
   }

   a:hover {
      text-decoration: underline;
   }

   h4 {
      font-size:1.2rem;
   }

   table.contact-table{
      font-size:1rem;
      margin: 0px 0px 20px 0px;
   }

   table.contact-table td {
      padding: 10px 0px 0px 0px;
      vertical-align: top;
      text-align: left;
   }

   table.contact-table tr td:first-child {
      padding-right: 20px;
  }

  @media (max-width: 1200px) {
   .contact-info>div {
       margin-bottom:50px
   }

   .contact-info>div:last-child {
       margin-bottom: 0px
   }
}
}

#cal {
   background:$base-darkgrey-bg;
   color:$brand-text-light;
   padding: 25px 0 25px 0;

   .time {
      text-align:right;
      height:50px;
      font-size:1.1rem;

      small{
         color:darken($brand-text-light, 25%);
         font-size:0.8rem;
      }
   }
}


// news
// BLOG TEASER

.blog-button {
   margin: 10px 0 10px 0;  
 }

#btn-blog:hover,
#btn-blog:focus {
    color: $brand-primary-light;
    border-color: $brand-primary-light;
}

#btn-blog {
  text-decoration: none;
}

html {   
   scroll-padding-block: 80px!important;
   scroll-behavior: smooth!important;
}
