---
title: Interactive Program
layout: presentation
lang: en
permalink: iprogram/
description: Interactive Programm of PPSN 2024 conference
custom_css:
- timetable
- roomplan
---

<section class="background-light fullscreen-section-no-header text-justify">
    <div class="fullscreen-container">
        <h3>Schedule Details</h3>
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <h4 id="detailsDay" class="hide"></h4>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <div class="view-toggle-container hide">
                    <a href="/iprogram" class="btn btn-primary toggle-btn btn-xl" id="programmBtn">Back to the
                        timetable</a>
                </div>
            </div>
        </div>
        <br />
        {% include dynamictimetable.html %}
        {% include roomplan.html %}
    </div>
</section>

<script type="text/javascript">
    var slotP = queryParams.get("slot");
    if (slotP != null) {
        const timetable = document.getElementById("timetable");
        timetable.classList.add("hide");

        const toggleContainer = document.querySelector(".view-toggle-container");
        toggleContainer.classList.remove("hide");
        const roomplan = document.getElementById("roomplan");
        roomplan.classList.remove("hide");
        const detailsDay = document.getElementById("detailsDay");
        detailsDay.classList.remove("hide");
    } else {
        const roomplan = document.getElementById("roomplan");
        roomplan.classList.add("hide");
        const detailsDay = document.getElementById("detailsDay");
        detailsDay.classList.add("hide");
    }

    //Show day information
    const detailsDay = document.getElementById("detailsDay")
    const day = days.find(day => day.id == slot.day);
    detailsDay.innerHTML = day.formatteddate;
</script>