{% capture _url %}{{ site.url }}/{% endcapture %}

<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{"/assets/css/subpage.css" | relative_url }}">

    {% if page.custom_css %}
    {% for css_file in page.custom_css%}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css_file }}.css">
    {% endfor %}
    {% endif %}
</head>

<body id="page-top">
    {% include nav.html home=false url=_url navcss=" affix noani" %}
    {{ content }}
    {% include footer.html %}

    {% include foot.html %}
    {% if page.custom_js %}
    {% for js_file in page.custom_js%}
    <script src="{{ site.baseurl }}/assets/js/custom/{{ js_file }}.js"></script>
    {% endfor %}
    {% endif %}
    <script>
        document.title = "{{ page.title }}{{ site.title_tail }}";
    </script>
</body>

</html>